# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
*.env

# Development tools
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.db

# OS or editor specific files
.DS_Store
Thumbs.db
